<div class="container-fluid main-content p-3">
    <div class="d-flex justify-content-between align-items-center pb-2">
      <h4>Create Department Name</h4>
    </div>

    <div class="row ">
      <div class="col-md-4">
        <br>
        <div class="mb-2">
          <mat-form-field floatLabel="always">
            <mat-label class="label-input">Department Name<span>*</span></mat-label>
            <input matInput class="userRolePermissionFormField2" placeholder="Enter Department">
            <mat-icon matSuffix></mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4">
        <br>
        <div class="mb-2">
          <mat-form-field floatLabel="always">
            <mat-label class="label-input">Remark<span>*</span></mat-label>
            <input matInput class="userRolePermissionFormField2" placeholder=" Enter Remark">
            <mat-icon matSuffix></mat-icon>
          </mat-form-field>
        </div>
      </div>
    </div>

  </div>

  <mat-toolbar>
    <div class="button_group">
      <button class="cancel" mat-button [routerLink]="'../department-listing'">Cancel</button>
      <button class="create" mat-button [routerLink]="'../department-listing'">Save</button>
    </div>
  </mat-toolbar>

