<div class="signup-block">
  <!-- <div class="signup-container">
    <div class="container">
      <div>
        <a href="javascript:void(0);">
          <img src="" class="brand" alt="logo">
        </a>
      </div>
      <div class="text-right">
      </div>
    </div>
  </div> -->

  <div class="container">
    <div class="content" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center between" fxFlexFill>
      <div fxFlex="35">
        <div class="login-wrapper">
          <div class="text-center">
            <h4 class="mb-20">Create an Account</h4>
            <a href="javascript:void(0);" class="mb-20" [routerLink]="['/auth/login']">Already have one? Log in.</a>
          </div>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Create a Password</mat-label>
            <input matInput placeholder="Create a Password" type="password">
            <mat-icon matSuffix>visibility</mat-icon>
            <!-- <mat-icon matSuffix>visibility_off</mat-icon> -->
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput placeholder="First Name">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Mobile Number</mat-label>
            <input matInput placeholder="Mobile Number">
          </mat-form-field>

          <mat-form-field appearance="outline" class="mb-30 mt-10">
            <mat-label>Date of birth</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

          <!-- <mat-radio-group aria-label="Select an option" class="mb-30 mt-10">
            <mat-label class="mr-20">Sex : </mat-label>
            <mat-radio-button value="1" color="primary" class="mr-20">Male</mat-radio-button>
            <mat-radio-button value="2" color="primary">Female</mat-radio-button>
          </mat-radio-group> -->

          <mat-checkbox color="primary" class="mb-30">I have read and accept
            <a href="javascript:void(0);" title="Terms of Use">Terms of Use</a>
            and
            <a href="javascript:void(0);" title="Privacy Policy">Privacy Policy</a>.
          </mat-checkbox>
          <mat-checkbox color="primary" class="mb-30">Keep me logged in</mat-checkbox>
          <button mat-raised-button color="primary" [routerLink]="['/auth/login']">Save and Continue</button>
        </div>
      </div>
    </div>
  </div>
</div>
