

    <!-- <div class="signup-container">
      <div class="container">
        <div>
          <a href="javascript:void(0);">
            <img src="" class="brand" alt="logo">
            OK$ BULK PAYMENT
          </a>
        </div>
        <div class="text-right">
        </div>
      </div>
    </div> -->
<!-- <div class="login-s2">
  <div class="signup-block">
    <div class="container d-flex-h-full">
      <div class="content" fxLayout="row" fxLayoutAlign="end center" fxFlexFill>
        <div fxFlex.gt-sm="43" fxFlex="100">
          <div class="mb-20">
            <h3 class="font-weight-bolder text-center auth-head">OK$ Bulk Top Up</h3>
          </div>
          <div class="login-wrapper">
            <div class="text-center">
              <h4 class="mb-40 forgotLink">Forgot Password?</h4>
            </div>
            <form action="" [formGroup]="form">
              <mat-form-field appearance="outline">
                <mat-label>Enter User Name</mat-label>
                <mat-icon matPrefix class="field-icon">account_box</mat-icon>
                <input class="paddingBottom-2" matInput placeholder="">
              </mat-form-field>

              <mat-form-field appearance="outline" [hideRequiredMarker]="true">
                <mat-label></mat-label>
                  <span class="country-flag" matPrefix>
                    <mat-icon>stay_primary_portrait</mat-icon>
                    <img src="../../../../assets/images/flags.png" height="20" alt="">
                    &nbsp;+95
                  </span>
                <input class="paddingBottom-2" matInput placeholder="09xxxxxxxxxx" formControlName="mobileNumber" minlength="9" maxlength="11" (keyup)="formValidation()">

              </mat-form-field>
            </form>

            <div fxLayout="row" fxLayoutAlign="space-around center" fxFlexFill fxLayoutGap="20px" *ngIf="otp_form_valid">
              <button class="saveButton" mat-raised-button color="success" (click)="otp_page=true" ng-show="testInput !== null ">Request OTP</button>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-around center" fxFlexFill fxLayoutGap="20px">
              <button class="cancelButton" mat-raised-button color="warn" (click)="cancelOTP()">Cancel</button>
            </div>

          </div>

          <div class="otp_section" style="position: absolute;" *ngIf="otp_page">
            <div style="margin-top: 15%;width: 310px;">
                <app-resend-otp (otp_cancelEvent)="otp_page=false" [coutDownSecounds]="60" (otp_submitEvent)="otpSubmit()"></app-resend-otp>
            </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
<div class="login_bg">
  <div style="display: flex;height: 100vh;">
      <div class="login_first_bg h_100" ></div>
      <div class="login_content" style="position: relative;" ><!--[ngClass]="{bg_clr: otp_page}"-->
          <div ><!-- *ngIf="!otp_page"-->
            <div>
                <div class="mb-20">
                  <img src="../../../../assets/img/ok dollar.png" alt="" style="width: 100px; margin: auto; display: block;">
                  <h3 class="font-weight-bolder text-center auth-head">OK$ Transfer</h3>
                </div>
                <div class="login-wrapper">
                  <div class="forgot_password">
                      <p style="color: #fff;">Forgot Password ?</p>
                  </div>
                  <!-- <form action="" [formGroup]="form">
                      <div style="text-align: center;position: relative;">
                          <input type="text" placeholder="User Name" formControlName="userName"><br>
                          <div class="input_image_box">
                              <img src="assets/images/operator-wise.png" alt="" style="width: 20px;">
                          </div>
                      </div>
                      <div style="text-align: center;margin-top: 30px;position: relative;">
                          <span class="number_prefix">+95</span>
                          <input type="text" placeholder="09 xxxxxxxxx" formControlName="mobileNumber" class="number_input" minlength="9" maxlength="11" (keyup)="formValidation()"/>
                          <div class="input_image_box">
                              <img src="assets/images/password.svg" alt="" style="width: 20px;">
                          </div>
                      </div>
                  </form> -->
                  <form action="" [formGroup]="form">
                    <mat-form-field appearance="outline">
                      <mat-label>Enter User Name</mat-label>
                      <mat-icon matPrefix class="field-icon">account_box</mat-icon>
                      <input class="paddingBottom-2" matInput placeholder="">
                    </mat-form-field>

                    <mat-form-field appearance="outline" [hideRequiredMarker]="true">
                      <mat-label>Enter Mobile Number</mat-label>
                        <span class="country-flag" matPrefix style="display: flex; vertical-align: baseline;">
<!--                          <mat-icon>stay_primary_portrait</mat-icon>-->
                          <img src="../../../../assets/img/images/flag.svg" height="20" alt="">
                          &nbsp;+95
                        </span>
                      <input class="paddingBottom-2" style="padding-left: 5px;" matInput placeholder="09XXXXXXXX" formControlName="mobileNumber" minlength="9" maxlength="11" (keyup)="formValidation()">

                    </mat-form-field>
                  </form>

                  <div style="color: #592f95;text-align: center;margin-top: 15px;">
                      <!-- <mat-checkbox >Remember Me</mat-checkbox> -->
                  </div>
                  <div  style="text-align: center;margin-top: 20px;">
                      <button [disabled]="otp_form_valid ? false : true " class="saveButton" (click)="otp_page=true">REQUEST OTP</button>
                  </div>
                  <div style="text-align: center;margin-top: 20px;" >
                      <button  class="cancelButton" (click)="cancelOTP()">CANCEL</button>
                  </div>

                </div>
            </div>

      </div>


          <div class="otp_section" style="position: absolute;" *ngIf="otp_page">
              <div style="margin-top: 15%;width: 310px;">
                  <app-resend-otp (otp_cancelEvent)="otp_page=false" [coutDownSecounds]="60" (otp_submitEvent)="otpSubmit()"></app-resend-otp>
              </div>
          </div>
        </div>
  </div>
</div>
