<div class="container-fluid main-content p-3">
    <div class="d-flex justify-content-between align-items-center pb-2">
      <h4>Edit Company Name</h4>
    </div>
    <div class="row ">
      <div class="col-md-4">
        <br>
        <div class="mb-2">
          <mat-form-field floatLabel="always">
            <mat-label class="label-input">Company Name<span>*</span></mat-label>
            <input matInput class="userRolePermissionFormField2" value="Consumer Good Myanmar">
            <mat-icon matSuffix></mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4">
        <br>
        <div class="mb-2">
          <mat-form-field floatLabel="always">
            <mat-label class="label-input">Remark<span>*</span></mat-label>
            <input matInput class="userRolePermissionFormField2" value="Account Department">
            <mat-icon matSuffix></mat-icon>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-4">
        <input type="checkbox" name="active" value="active" checked class="activeCheckBox">
        <label for="Is Active">Is Active</label>
      </div>
    </div>
  </div>

  <mat-toolbar>
    <div class="button_group">
      <button class="cancel" mat-button [routerLink]="'../company-listing'">Cancel</button>
      <button class="update" mat-button [routerLink]="'../company-listing'"> Update</button>
    </div>
  </mat-toolbar>

  <!-- <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <input matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
  </form> -->

