.select{
  height: 50px;
  outline: none;
  margin-bottom: 10px;
  width: 30% !important;
  padding: 15px 15px;
  /*select box css*/
  border-radius: 25px;
  border: 1px solid #cccccc;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  background-color: white;
  background-color: white;
  &:focus{
    box-shadow: #dfd6c2 3px 3px 3px 0px;
  }
}

.select2{
  height: 50px;
  outline: none;
  margin-bottom: 10px;
  width: 92% !important;
  padding: 15px 15px;
  /*select box css*/
  border-radius: 25px;
  border: 1px solid #cccccc;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  background-color: white;

  &:focus{
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  }
}
mat-form-field .select_search_box{
  display: unset !important;
  border: 1px solid #cccccc;
  color: #000;
  height: 35px;
  padding: 5px 10px;
  border-radius: 20px;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%) !important;
}
.filter_select_header .mat-form-field-flex {
  padding-top: 0 !important;
  border-radius: 51pc;
  margin: 7px 8px;
}

::ng-deep .mat-form-field-underline {
  display: none;
}
.label{
  padding-bottom: 4px !important;
}

.mat-toolbar
{
  background-color: #fafafa;
  display: block !important;
  text-align: center;
}

.main-content
{
  height: calc(90vh - 60px);
  overflow: auto;
  overflow-x: hidden;
}

mat-label span {
  color: #ff0000 !important;
}

input.userRolePermissionFormField2{
  height: 20px;
  outline: none;
  margin-bottom: 7px;
  margin-top: 10px;
  padding: 13px 15px;
  font-weight: 500;
  width: 90%;
  /*select box css*/
  border-radius: 25px;
  border: 1px solid #cccccc;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  background-color: white;
}

.label-input{
  font-size: larger;
  color: #000;
}


.fileReNo{
  text-decoration: underline;
}
.proceedBtn{
  background:#198754;
  color: #ffffff;
  border: solid 2px #ffffff;
  border-radius: 30px;
  width: 143px;
  font-size: 20px;
  box-shadow: 0px 8px 15px #888888;
  margin-left: 5px
}
.prefixNo{
  position: absolute;
  top: -30px;
  left: 45px;
}
//4.User Add
.mobileNo input {
  background-image: url(../../../../../../assets/img/flags.png);
  background-repeat: no-repeat;
  background-position: 2% ;
  background-size: 35px;
  padding-left: 80px !important;
  width: 80%;
}
.optionGroup {
  transform: translate3d(25px, 98px, 0px) !important;
}
.useraddInput .mat-form-field-flex{
  box-shadow: #d6c7ec 3px 3px 3px 0px !important;
  border: none !important;
  border-width : 0;
  height: 55px !important;
}
//4.User Add
