<div class="main-content-profile">
  <div class="row mx-2 my-4">
    <div class="card">
      <h2 class="title">User Profile</h2>
      <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" style="display: flex;">
        <div class="example-full-width col-3" fxFlex="30" class="pl-4" style="flex: 1 1 100%; flex:3;">
          <img src="../../../../assets/img/profile-pic.jpg" style="height:200px; border-radius: 100px;">
        </div>
        <div class="example-full-width col-9" fxFlex="70" class="pl-4" style="flex: 1 1 100%; flex:9; padding-left: 4px;">
          <h3 style="font-size: 23px;">Zaw Lwin</h3>
          <div>
            <p class="userProfileHeadingText">Password</p>
            <p class="userProfileDataText">password</p>
          </div>
          <div>
            <p class="userProfileHeadingText">Mobile Number</p>
            <p class="userProfileDataText">959 421115809</p>
          </div>
          <div>
            <p class="userProfileHeadingText">Company Name</p>
            <p class="userProfileDataText">Consumer Goods Myanmar Limited, CGM</p>
          </div>
          <div>
            <p class="userProfileHeadingText">Department</p>
            <p class="userProfileDataText">Account Department, Sales Deparment</p>
          </div>
          <div>
            <p class="userProfileHeadingText">Designation</p>
            <p class="userProfileDataText">Accountant, Sales</p>
          </div>
          <div>
            <p class="userProfileHeadingText">User Type</p>
            <p class="userProfileDataText">Admin</p>
          </div>
          <div>
            <p class="userProfileHeadingText">Transaction Type</p>
            <p class="userProfileDataText">Report, Bulk Transaction Payment</p>
          </div>
          <div>
            <p class="userProfileHeadingText">Description</p>
            <p class="userProfileDataText">-</p>
          </div>
        </div>


      </div>
      <hr>
      <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" style="display: flex;">

        <div class="example-full-width" fxFlex="70" class="pl-4" style="flex: 1 1 100%; flex:7;">
          <div>
            <h3>User Role Permission</h3>
            <p class="userProfileHeadingText">Bulk Transaction Payment</p>
            <p class="userProfileDataText">Create New, Export to Excel, Filter, Format Download, Upload, Edit, Delete, Refresh</p>
          </div>
          <div>
            <p class="userProfileHeadingText">Individual Payment</p>
            <p class="userProfileDataText">Create New, Export to Excel, Filter, Edit, Delete</p>
          </div>
          <div>
            <p class="userProfileHeadingText">Transaction Details</p>
            <p class="userProfileDataText">Filter</p>
          </div>
          <div>
            <p class="userProfileHeadingText ">Report</p>
            <p class="userProfileDataText">Download Excel, Filter</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
