<div class="login_bg">
  <div style="display: flex;height: 100vh;">
    <div class="login_first_bg h_100" ></div>
    <div class="login_content" style="position: relative;" ><!--[ngClass]="{bg_clr: otp_page}"-->
      <div ><!-- *ngIf="!otp_page"-->
        <div>
          <div class="mb-20">
            <img src="../../../../assets/img/ok dollar.png" alt="" style="width: 100px; margin: auto; display: block;">
            <h3 class="font-weight-bolder text-center auth-head">OK$ Transfer</h3>
          </div>
          <div class="login-wrapper">
            <div class="forgot_password">
              <a style="color: #fff;">Reset Password</a>
            </div>
            <form action="" [formGroup]="form">
              <mat-form-field appearance="outline">
                <mat-label>Enter New Password</mat-label>
                <mat-icon matPrefix class="field-icon">lock</mat-icon>
                <input class="paddingBottom-2" matInput placeholder="" [type]="hide ? 'password' : 'text'">
                <mat-icon matSuffix (click)="hide = !hide" class="pointer">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-form-field>

              <mat-form-field appearance="outline">
                <mat-label>Confirm New Password</mat-label>
                <mat-icon matPrefix class="field-icon">lock</mat-icon>
                <input class="paddingBottom-2" matInput placeholder="" [type]="hide1 ? 'password' : 'text'">
                <mat-icon matSuffix (click)="hide1 = !hide1" class="pointer">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-form-field>
            </form>

            <div style="color: #592f95;text-align: center;margin-top: 15px;">
              <!-- <mat-checkbox >Remember Me</mat-checkbox> -->
            </div>
            <div  style="text-align: center;margin-top: 20px;">
              <button class="saveButton" [routerLink]="['/auth/login']">SUBMIT</button>
            </div>
            <div style="text-align: center;margin-top: 20px;" >
              <button  class="cancelButton" [routerLink]="['/auth/login']">CANCEL</button>
            </div>

          </div>
        </div>

      </div>


    </div>
  </div>
</div>
