<div class="row mx-2 my-2">
  <h4>Change Password</h4>
</div>

<mat-card>


<div class="main-content-changePswrd">
  <div class="row mx-1 my-2">
    <div class="col-md-4">
      <br>
      <div class="mb-2">
        <mat-form-field floatLabel="always" class="changePswrd-input">
          <mat-label class="input-label">Current Password</mat-label>
          <mat-icon matSuffix (click)="hide = !hide" class="pointer">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <input matInput class="userRolePermissionFormField2" placeholder="Enter Current Password" [type]="hide?'password':'text'">
          <mat-error class="login-error">
            Current Password is required!
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>



  <div class="row mx-1 my-4">
    <div class="col-md-4">
      <br>
      <div class="mb-2">
        <mat-form-field floatLabel="always">
          <mat-label class="input-label">Create New Password
          </mat-label>
          <mat-icon matSuffix (click)="hide1 = !hide1" class="pointer">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
          <input matInput class="userRolePermissionFormField2" placeholder="Enter New Password" [type]="hide1?'password':'text'">
          <mat-error class="login-error">
            New Password is required!
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>


  <div class="row mx-1 my-2">
    <div class="col-md-4">
      <br>
      <div class="mb-2">
        <mat-form-field floatLabel="always">
          <mat-label class="input-label">Confirm New Password
          </mat-label>
          <mat-icon matSuffix (click)="hide2 = !hide2" class="pointer">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
          <input matInput class="userRolePermissionFormField2" placeholder="Confirm New Password" [type]="hide2?'password':'text'">
          <mat-error class="login-error">
            Confirm Password is required!
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </div>


  <div class="row mx-1 my-2">

  </div>

</div>

  <mat-toolbar class="row mx-1 my-2 pb-3 justify-content-center">
      <button class="cancel" mat-button [routerLink]="''">Cancel</button>
      <button class="change" mat-button [routerLink]="''">Change</button>
  </mat-toolbar>

</mat-card>
