<header>
  <img src="../../../../assets/img/ok-dollar.svg" alt="" class="logo-area">
  <span>OK$ Transfer</span>
  <mat-icon type="button" mat-button (click)="drawer.toggle()">menu</mat-icon>
</header>



<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="side" opened>

      <app-simple-layout-sidebar></app-simple-layout-sidebar>
  </mat-drawer>

  <div class="example-sidenav-content" style="display: block;">

    <router-outlet></router-outlet>

  </div>
</mat-drawer-container>
