<section>
  <header class="header-block">
    <div class="container-fluid">
      <div class="header">
        <div fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign="center between" fxFlexFill>
          <div fxFlex="50">
            <a href="javascript:void(0);">
              <!-- <img src="" class="brand" alt="logo"> -->
            </a>
          </div>
          <div fxFlex="50" >
            Header Works!
          </div>
        </div>
      </div>
    </div>
  </header>
</section>
