<div class="main-content pb-3">
  <div class=" container-height">

    <div class="row mx-2 my-4 my-xl-1">
      <div class="mb-2">
        <div class="d-flex justify-content-between align-items-center p-2">
          <div class="d-flex align-items-center">
            <h4 [routerLink]="'../../dashboard'" class="breadcrumb-link">Dashboard</h4>
            <h4 class="px-2"> > </h4>
            <h4>Operator Base Total Transfer Amount Month Wise</h4>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <img  class="crud-btns" matTooltip="Filter"  (click)="openDialog('1')"
                  aria-label="Button that displays a tooltip when focused or hovered over" src="assets/img/icons/SideBar-Icon/Filter%20pansi.png" alt="" >
            <div class="m-3">
              <mat-select class="select2 dashboardSelect2 select_remove_cashback_filter mat-select-filter" panelClass="myPanelClass1"
                          disableOptionCentering placeholder="Select">
                <mat-option value=1>Daily</mat-option>
                <mat-option value=2>Weekly</mat-option>
                <mat-option value=3>Monthly</mat-option>
                <mat-option value=4>Quarterly</mat-option>
                <mat-option value=5>Yearly</mat-option>
              </mat-select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 px-5 mb-5">
        <div class="card shadow row flex-row justify-content-between align-items-center p-3">
          <h5 class="fw-bold">Telenor</h5>
          <div id="telenorbaseTotalChart" class="col-lg-6 d-flex justify-content-start">
              <apx-chart
                [series]="telenorbaseTotalChartOpt.series"
                [colors]="telenorbaseTotalChartOpt.colors"
                [chart]="telenorbaseTotalChartOpt.chart"
                [labels]="telenorbaseTotalChartOpt.labels"
                [responsive]="telenorbaseTotalChartOpt.responsive"
                [dataLabels]="telenorbaseTotalChartOpt.dataLabels"
                [legend]="telenorbaseTotalChartOpt.legend"
                [plotOptions]="telenorbaseTotalChartOpt.plotOptions"
                style="width: 100%;height: 100%;"
              ></apx-chart>
          </div>
          <div class="col-lg-6 pe-2">
            <div class="d-flex justify-content-between px-2 align-items-center">
              <div class="col-5 d-flex align-items-start">
                <div class="telenorCircle me-2" style="background-color: #6EE2FC"></div>
                <p>Main To Cash Back</p>
              </div>
              <p class="col-2">1,200,000</p>
              <p class="col-2">25%</p>
            </div>

            <hr style="margin: 5px 65px 5px 65px; color: azure;">

            <div class="d-flex justify-content-between px-2 align-items-center">
              <div class="d-flex col-5">
                <div class="telenorCircle me-2" style="background-color: #3BD5FB"></div>
                <p>Cash Back To Main</p>
              </div>
              <p class="col-2">15,600</p>
              <p class="col-2">25%</p>
            </div>

            <hr style="margin: 5px 65px 5px 65px; color: azure;">

            <div class="d-flex justify-content-between px-2 align-items-center">
              <div class="d-flex col-5">
                <div class="telenorCircle me-2" style="background-color: #04ADD3"></div>
                <p>Main To Other Cash Back</p>
              </div>
              <p class="col-2">15,600</p>
              <p class="col-2">20%</p>
            </div>

            <hr style="margin: 5px 65px 5px 65px; color: azure;">

            <div class="d-flex justify-content-between px-2 align-items-center">
              <div class="d-flex col-5">
                <div class="telenorCircle me-2" style="background-color: #037D99"></div>
                <p>Cash Back To Other Main</p>
              </div>
              <p class="col-2">15,600</p>
              <p class="col-2">10%</p>
            </div>

            <hr style="margin: 5px 65px 5px 65px; color: azure;">

            <div class="d-flex justify-content-between px-2 align-items-center">
              <div class="d-flex col-5">
                <div class="telenorCircle me-2" style="background-color: #024E60"></div>
                <p>Pay To</p>
              </div>
              <p class="col-2">15,600</p>
              <p class="col-2">20%</p>
            </div>
          </div>
        </div>
      </div>
      <div class="table-pagination col-12">
        <table mat-table [dataSource]="dataSource">

          <!-- Position Column -->
          <ng-container matColumnDef="transferType">
            <th mat-header-cell *matHeaderCellDef> Transfer Type </th>
            <td mat-cell *matCellDef="let element" style="width: 40%;">
              {{element.transferType}}
            </td>
          </ng-container>

          <!-- Name Column -->


          <ng-container matColumnDef="date1">
            <th mat-header-cell *matHeaderCellDef> 01-Jan-2022 </th>
            <td mat-cell *matCellDef="let element" style="width: 30%;"> {{element.date1}} </td>
          </ng-container>
          <ng-container matColumnDef="date2">
            <th mat-header-cell *matHeaderCellDef> 02-Jan-2022 </th>
            <td mat-cell *matCellDef="let element" style="width: 30%;"> {{element.date2}} </td>
          </ng-container>
          <ng-container matColumnDef="date3">
            <th mat-header-cell *matHeaderCellDef> 03-Jan-2022 </th>
            <td mat-cell *matCellDef="let element" style="width: 30%;"> {{element.date3}} </td>
          </ng-container>
          <ng-container matColumnDef="date4">
            <th mat-header-cell *matHeaderCellDef> 04-Jan-2022 </th>
            <td mat-cell *matCellDef="let element" style="width: 30%;"> {{element.date4}} </td>
          </ng-container>
          <ng-container matColumnDef="date5">
            <th mat-header-cell *matHeaderCellDef> 05-Jan-2022 </th>
            <td mat-cell *matCellDef="let element" style="width: 30%;"> {{element.date5}} </td>
          </ng-container>
          <ng-container matColumnDef="date6">
            <th mat-header-cell *matHeaderCellDef> 06-Jan-2022 </th>
            <td mat-cell *matCellDef="let element" style="width: 30%;"> {{element.date6}} </td>
          </ng-container>
          <ng-container matColumnDef="date7">
            <th mat-header-cell *matHeaderCellDef> 07-Jan-2022 </th>
            <td mat-cell *matCellDef="let element" style="width: 30%;"> {{element.date7}} </td>
          </ng-container>
          <ng-container matColumnDef="date8">
            <th mat-header-cell *matHeaderCellDef> 08-Jan-2022 </th>
            <td mat-cell *matCellDef="let element" style="width: 30%;"> {{element.date8}} </td>
          </ng-container>
          <ng-container matColumnDef="date9">
            <th mat-header-cell *matHeaderCellDef> 09-Jan-2022 </th>
            <td mat-cell *matCellDef="let element" style="width: 30%;"> {{element.date9}} </td>
          </ng-container>
          <ng-container matColumnDef="date10">
            <th mat-header-cell *matHeaderCellDef> 10-Jan-2022 </th>
            <td mat-cell *matCellDef="let element" style="width: 30%;"> {{element.date10}} </td>
          </ng-container>

          <ng-container matColumnDef="date11">
            <th mat-header-cell *matHeaderCellDef> 11-Jan-2022 </th>
            <td mat-cell *matCellDef="let element" style="width: 30%;"> {{element.date11}} </td>
          </ng-container>
          <ng-container matColumnDef="date12">
            <th mat-header-cell *matHeaderCellDef> 12-Jan-2022 </th>
            <td mat-cell *matCellDef="let element" style="width: 30%;"> {{element.date12}} </td>
          </ng-container>
          <ng-container matColumnDef="date13">
            <th mat-header-cell *matHeaderCellDef> 13-Jan-2022 </th>
            <td mat-cell *matCellDef="let element" style="width: 30%;"> {{element.date13}} </td>
          </ng-container>
          <ng-container matColumnDef="date14">
            <th mat-header-cell *matHeaderCellDef> 14-Jan-2022 </th>
            <td mat-cell *matCellDef="let element" style="width: 30%;"> {{element.date14}} </td>
          </ng-container>
          <ng-container matColumnDef="date15">
            <th mat-header-cell *matHeaderCellDef> 15-Jan-2022 </th>
            <td mat-cell *matCellDef="let element" style="width: 30%;"> {{element.date15}} </td>
          </ng-container>
          <ng-container matColumnDef="date16">
            <th mat-header-cell *matHeaderCellDef> 16-Jan-2022 </th>
            <td mat-cell *matCellDef="let element" style="width: 30%;"> {{element.date16}} </td>
          </ng-container>
          <ng-container matColumnDef="date17">
            <th mat-header-cell *matHeaderCellDef> 17-Jan-2022 </th>
            <td mat-cell *matCellDef="let element" style="width: 30%;"> {{element.date17}} </td>
          </ng-container>
          <ng-container matColumnDef="date18">
            <th mat-header-cell *matHeaderCellDef> 18-Jan-2022 </th>
            <td mat-cell *matCellDef="let element" style="width: 30%;"> {{element.date18}} </td>
          </ng-container>
          <ng-container matColumnDef="date19">
            <th mat-header-cell *matHeaderCellDef> 19-Jan-2022 </th>
            <td mat-cell *matCellDef="let element" style="width: 30%;"> {{element.date19}} </td>
          </ng-container>
          <ng-container matColumnDef="date20">
            <th mat-header-cell *matHeaderCellDef> 20-Jan-2022 </th>
            <td mat-cell *matCellDef="let element" style="width: 30%;"> {{element.date20}} </td>
          </ng-container>

          <ng-container matColumnDef="date21">
            <th mat-header-cell *matHeaderCellDef> 21-Jan-2022 </th>
            <td mat-cell *matCellDef="let element" style="width: 30%;"> {{element.date21}} </td>
          </ng-container>
          <ng-container matColumnDef="date22">
            <th mat-header-cell *matHeaderCellDef> 22-Jan-2022 </th>
            <td mat-cell *matCellDef="let element" style="width: 30%;"> {{element.date22}} </td>
          </ng-container>
          <ng-container matColumnDef="date23">
            <th mat-header-cell *matHeaderCellDef> 23-Jan-2022 </th>
            <td mat-cell *matCellDef="let element" style="width: 30%;"> {{element.date23}} </td>
          </ng-container>
          <ng-container matColumnDef="date24">
            <th mat-header-cell *matHeaderCellDef> 24-Jan-2022 </th>
            <td mat-cell *matCellDef="let element" style="width: 30%;"> {{element.date24}} </td>
          </ng-container>
          <ng-container matColumnDef="date25">
            <th mat-header-cell *matHeaderCellDef> 25-Jan-2022 </th>
            <td mat-cell *matCellDef="let element" style="width: 30%;"> {{element.date25}} </td>
          </ng-container>
          <ng-container matColumnDef="date26">
            <th mat-header-cell *matHeaderCellDef> 26-Jan-2022 </th>
            <td mat-cell *matCellDef="let element" style="width: 30%;"> {{element.date26}} </td>
          </ng-container>
          <ng-container matColumnDef="date27">
            <th mat-header-cell *matHeaderCellDef> 27-Jan-2022 </th>
            <td mat-cell *matCellDef="let element" style="width: 30%;"> {{element.date27}} </td>
          </ng-container>
          <ng-container matColumnDef="date28">
            <th mat-header-cell *matHeaderCellDef> 28-Jan-2022 </th>
            <td mat-cell *matCellDef="let element" style="width: 30%;"> {{element.date28}} </td>
          </ng-container>
          <ng-container matColumnDef="date29">
            <th mat-header-cell *matHeaderCellDef> 29-Jan-2022 </th>
            <td mat-cell *matCellDef="let element" style="width: 30%;"> {{element.date29}} </td>
          </ng-container>
          <ng-container matColumnDef="date30">
            <th mat-header-cell *matHeaderCellDef> 30-Jan-2022 </th>
            <td mat-cell *matCellDef="let element" style="width: 30%;"> {{element.date30}} </td>
          </ng-container>
          <ng-container matColumnDef="date31">
            <th mat-header-cell *matHeaderCellDef> 31-Jan-2022 </th>
            <td mat-cell *matCellDef="let element" style="width: 30%;"> {{element.date31}} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element">
              <a routerLink="../company-edit">
                <img class="actionImage" [src]="element.action" />
              </a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns,sticky:true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>
    <br>
    <br>
    <br>
  </div>
</div>
